* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(189, 189, 189);
}

#navbar {
  display: inline-block;
  width: 99%;
}

.navbar-int {
  display: inline-block;
  width: 24%;
  margin: 10px auto;
}

.nav-btn {
  display: block;
  width: 180px;
  margin: 2px auto;
  padding: 5px 0px;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: inline-block;
  width: 130px;
  text-align: right;
  padding-right: 5px;
  margin: 3px;
}

input {
  display: inline-block;
  width: 230px;
  margin: 3px;
}

#addBtn {
  background-color: green;
  color: white;
  width: 150px;
  padding: 10px 20px;
  margin-left: 220px;
  margin-top: 10px;
  border-radius: 4px;
}

h1 {
  display: block;
  margin: 2px auto;
  width: 50%;
  text-align: center;
}

#updateBtn {
  background-color: orange;
  color: white;
  width: 150px;
  padding: 10px 20px;
  margin-left: 220px;
  margin-top: 10px;
  border-radius: 4px;
}

#deleteBtn {
  background-color: red;
  width: 180px;
  padding: 10px 20px;
  margin-left: 220px;
  margin-top: 10px;
  border-radius: 4px;
}

#deleteBtnLink {
  color: white;
}

#unlikeBtn {
  background-color: yellow;
  display: inline-block;
  width: 150px;
  padding: 3px;
  border-radius: 4px;
}

#likeBtn {
  background-color: lightblue;
  display: inline-block;
  width: 150px;
  padding: 3px;
  border-radius: 4px;
}

#unlikeBtnUpdate {
  background-color: yellow;
  display: inline-block;
  width: 150px;
  margin-left: 220px;
  margin-top: 10px;
  border-radius: 4px;
  padding: 3px;
}

#likeBtnUpdate {
  background-color: lightblue;
  display: inline-block;
  width: 150px;
  margin-left: 220px;
  margin-top: 10px;
  border-radius: 4px;
  padding: 3px;
}

#registration {
  display: inline-block;
  margin: 40px;
  width: 45%;
}

#regBtn {
  width:150px;
  display: inline-block;
  padding: 5px;
  margin-left: 120px;
  background-color: turquoise;
  border-radius: 4px;
}

#login {
  display: inline-block;
  vertical-align: top;
  margin: 40px;
  width: 45%;
}

#loginBtn {
  width:150px;
  display: inline-block;
  padding: 5px;
  margin-left: 120px;
  background-color: turquoise;
  border-radius: 4px;
}

table {
  display: block;
  margin: 40px auto;
  border-collapse: collapse;
  width: 1250px;
}

th {
  border: 2px solid black;
  width: 150px;
  padding: 2px;
  background-color: rgb(255, 181, 71);
}

td {
  border: 2px solid black;
  padding: 4px;
  background-color: rgb(255, 216, 158);
}

#prop-detail {
  width: 220px;
  margin: 10px auto;
  vertical-align: middle;
}

.formDiv {
  display: block;
  width: 440px;
  margin: 10px auto;
  padding: 5px;
}

.errorText {
  color: rgb(255, 0, 0);
  font-size: large;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  list-style-type: none;
}