<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <form action="/property/page/edit/{{tobe_change.id}}" method="POST">
        {% csrf_token %}
        <label>Address Number</label>
        <input type="number" name="address_number" placeholder="{{ tobe_change.address_number }}"><br>
        
        <label>Street</label>
        <input type="text" name="street" placeholder="{{ tobe_change.street }}"><br>
        
        <label>City</label>
        <input type="text" name="city" placeholder="{{ tobe_change.city }}" ><br>
        
        <label>State</label>
        <input type="text" name="state" placeholder="{{ tobe_change.state }}"><br>
        
        <label>Zip Code</label>
        <input type="number" name="zip_code" placeholder="{{ tobe_change.zip_code }}"><br>
        <label for="home_type">Home Type:</label>
        <select id="home_type" name="home_type">
            <option value="single_family_home">Single Family Home</option>
            <option value="townhouse">Townhouse</option>
            <option value="condominium">Condominium</option>
            <option value="multi_unit_building">Multi Unit Building</option>
            <option value="undeveloped_land">Undeveloped Land</option>
        </select>
        <input type="submit" value="Update Property">
    </form>

    <a href="/property_all">Go to previous page</a>
</body>
</html>