<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home Page</title>
</head>
<body>
    <div id="navbar">
        <div class="navbar-int">
            <button class="nav-btn"><a href="/pass">Home</a></button>
        </div>
        <div class="navbar-int">
            <button class="nav-btn"><a href="/property_all">Browse All Properties</a></button>
        </div>
        <div class="navbar-int">
            <button class="nav-btn"><a href="/liked_properties">Your Liked Properties</a></button>
        </div>
        <div class="navbar-int">
            <form action="/logout" method="post">
                {% csrf_token %}        
                <input type="submit" value="Logout" class="nav-btn">       
            </form>
        </div>
    </div>
    <h1>Welcome to NotZillow {{ request.session.name }}!</h1>
    {% if messages %}
    <ul>    
        {% for message in messages %}    
            <li>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Add a Property Here!</h2>
    <form action="create_property" method="POST">
        {% csrf_token %}
        <label>Address Number</label>
        <input type="number" name="address_number"><br>
        
        <label>Street</label>
        <input type="text" name="street"><br>
        
        <label>City</label>
        <input type="text" name="city"><br>
        
        <label>State</label>
        <input type="text" name="state"><br>
        
        <label>Zip Code</label>
        <input type="number" name="zip_code"><br>
        <label for="home_type">Home Type:</label>
        <select id="home_type" name="home_type">
            <option value="single_family_home">Single Family Home</option>
            <option value="townhouse">Townhouse</option>
            <option value="condominium">Condominium</option>
            <option value="multi_unit_building">Multi Unit Building</option>
            <option value="undeveloped_land">Undeveloped Land</option>
        </select><br>
        <input type="submit" value="Add Property" id="addBtn">
    </form>
</body>
</html>